{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h4>LISTADO DE PUBLICACIONES</h4>
            </div>
            <div class="col-6">
                <a href="{{ url('admin_post_add') }}">Añadir publicación</a>
            </div>

        </div>
        {{ include('admin/post/include/_flash.html.twig') }}
        <div class="row">
            {% for post in posts %}

                <div class="col-4">{{ post.id }}</div>
                <div class="col-1">{{ post.title | slice(0, 20) }} ...</div>
                <div class="col-1">{{ post.body | slice (0, 20) }} ...</div>
                <div class="col-2">{{ post.available_at | date('d-m-Y') }}</div>
                <div class="col-2">
                    {% if (post.image) %}
                        <img src="{{ '/uploads/' ~ post.image }}" width="50">
                    {% else %}
                        [sin foto]
                    {% endif %}
                </div>
                <div class="col-1"><a href="{{ path('admin_post_edit', {'id': post.id}) }}">Editar</a></div>
                <div class="col-1"><a href="{{ path('admin_post_delete', {'id': post.id}) }}">Elmininar</a></div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
