<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('home_page') }}">Curso Symfony FUE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ url('contact_form') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_register') }}">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_login') }}">Log In</a>
            </li>
            {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url('admin_post_index') }}">Post</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url('admin_category_index') }}">Category</a>
                </div>
            </li>
            {% endif %}
            <li>
                <div id="phrase-of-the-day-container" class="mt-2">
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ url('search') }}" method="get">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ app.request.get('q') }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <script>
        jQuery(function($){
            setTimeout(() => {

                var phrases = [
                    'Give it a try',
                    'With pain comes strength',
                    'It\'s always too early to quit',
                    'Enthusiasm moves the world',
                ]

                $('#phrase-of-the-day-container').html('<span class="phrase-of-the-day" style="font-size: 12px; color: green">Phrase of the day: ' + phrases[Math.floor( Math.random() * 4 )] + '</span>');
            }, 1000);
        });
    </script>
</nav>
