{% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-top: 20px">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container-show p-4">
                        <div class="row">
                            <div class="col">
                                <h1 class="q-title-show"><a href="{{ path('post', {id: post.id}) }}">{{ post.title }}</a></h1>
                                <div class="q-display p-3">
                                    <p class="d-inline"> {{ post.body|length > 200 ? post.body|slice(0, 200) ~ '...' : post.body }} </p>
                                    <p class="pt-4">
                                        <strong>Autor:</strong> {{ post.user.username }} -
                                        <strong>Comentarios:</strong> {{ post.comments|length }}
                                        <span class="add-like" data-id="{{ post.id }}"><strong>Likes:</strong><span class="counter" id="like-{{ loop.index }}">{{ post.likes }}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script>
    $(document).ready(function () {
        $('.add-like').on('click', (event) => {
            var url = '{{ url('add_like') }}'

            axios.post(url + '?id=' + $(event.currentTarget).data('id'))
                .then(function (response) {
                    var counter = parseInt($(event.currentTarget).find('span').text());
                    $(event.currentTarget).find('span').text(counter+1);
                    console.log(response.data);
                }).catch(function (error) {
                console.log(error);
            });
        });
    });
</script>
