{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h4>LISTADO DE PUBLICACIONES</h4>
            </div>
            <div class="col-6">
                <a href="{{ url('admin_publicacion_add') }}">Añadir publicación</a>
            </div>

        </div>
        {{ include('admin/publicacion/include/_flash.html.twig') }}
        <div class="row">
            {% for publicacion in publicaciones %}

                <div class="col-4">{{ publicacion.id }}</div>
                <div class="col-1">{{ publicacion.nombre | slice(20) }}...</div>
                <div class="col-1">{{ publicacion.descripcion | slice (20)}}...</div>
                <div class="col-2">{{ publicacion.fecha_de_publicacion | date('d-m-Y')}}</div>
                <div class="col-2"><img src="/uploads/{{ publicacion.id }}.jpg" width="50"></div>
                <div class="col-1"><a href="{{ path('admin_publicacion_edit', {'id': publicacion.id}) }}">Editar</a></div>
                <div class="col-1"><a href="{{ path('admin_publicacion_delete', {'id': publicacion.id}) }}">Elmininar</a></div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
